<!-- MAIN CONTENT-->
<div class="main-content">
  <div class="section-content section-content-p30">
     <h4>Category: {{ currentCategoryName }}</h4>
        <hr>
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the list of books-->
        <div *ngFor="let tempBook of books" class="col-md-3">
          <div class="product-box">
            <img
              src="{{ tempBook.imageUrl }}"
              height="50"
              class="img-fluid img-responsive"
            />
            <h1>{{ tempBook.name }}</h1>
            <h2>by {{ tempBook.author }}</h2>
            <div class="price">{{ tempBook.unitPrice | currency : "USD" }}</div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
